/* Define the gradient text */
.gradient-text {
    background: linear-gradient(90deg, #f1c40f, #e74c3c, #8e44ad, #3498db);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
  }
  
  /* Define the text animation */
  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .animate-gradient {
    background-size: 400% 400%;
    animation: gradient-animation 3s ease infinite;
  }
  